*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*hacer desplazamiento con scroll*/
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.subtitulo{
    color: #9f8ad0;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px){
    
}

@media screen and (max-width: 500px){
    .subtitulo{
        font-size: 30px;
    }
}